.card {
  --card-border: 1px solid #aaa;
  --card-border-radius: 6px;

  display: flex;
  flex-flow: column nowrap;
  border: var(--card-border, 1px solid #aaa);
  border-radius: var(--card-border-radius, 6px);
  box-shadow: 0 0 0.5em 0 #888;

  &-header, > header {
    padding: 0.25em 0.75em;
    margin: 0.4em 0;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    a .icon { color: #eee; }
  }

  &-body, > section {
    padding: 0.25em 0.75em;
    margin: 0.4em 0;
    flex-grow: 2;
  }

  &-footer, > footer {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 0.75em;
    border-radius: 0 0 var(--border-radius, 6px) var(--border-radius, 6px);
  }

  &-actions, > aside {
    .icon:not(:last-child) {
      margin-right: 0.75em;
    }
  }
}
