$cyan_degree: 195;
$red_degree: 20;

$cyan_saturation: 64%;
$red_saturation: 100%;

$cyan_lightness: 65%;
$red_lightness: 46%;

$black: #0c141f;
$yellow: #ffe64d;
$orange: #f58c4b;
$green: #00ff00;
$blue: #6f15cb;
$magenta: #cb15c9;
$cyan: hsl($cyan_degree, $cyan_saturation, $cyan_lightness);
$red: hsl($red_degree, $red_saturation, $red_lightness);
$white: #e6ffff;

$bg_dark: #232323;
$bg_darker: #121212;
$fg_dark: #dedede;
$fg_darker: #ababab;

$text-color: #232323;
$text-color-dark: #121212;
$text-color-light: #dedede;

$primary-color-degree: 285;
$secondary-color-degree: 105;

$primary-color-dark:  hsl($primary-color-degree, 15%, 13%);
$primary-color:       hsl($primary-color-degree, 15%, 26%);
$primary-color-light: hsl($primary-color-degree, 35%, 50%);

$secondary-color-dark:  hsl($secondary-color-degree, 55%, 30%);
$secondary-color:       hsl($secondary-color-degree, 55%, 50%);
$secondary-color-light: hsl($secondary-color-degree, 55%, 70%);

$link-color: #1e70bf;

$btn-bg: hsla($cyan_degree, $cyan_saturation, $cyan_lightness, 0.25);
$input-bg: hsla($cyan_degree, $cyan_saturation, $cyan_lightness, 0.15);

$border-color: $primary-color-dark;
$border-color-light: $primary-color;

$shadow-color: $primary-color-light;

:root {
  --black: #{$black};
  --yellow: #{$yellow};
  --red: #{$red};
  --orange: #{$orange};
  --green: #{$green};
  --blue: #{$blue};
  --magenta: #{$magenta};
  --cyan: #{$cyan};
  --white: #{$white};

  --bg: #{$bg_dark};
  --bg-dark: #{$bg_darker};
  --fg: #{$fg_dark};
  --fg-dark: #{$fg_darker};
  --link-color: var(--yellow);

  --primary-color: #{$primary-color};
  --primary-color-dark: #{$primary-color-dark};
  --primary-color-light: #{$primary-color-light};
  --secondary-color: #{$secondary-color};
  --secondary-color-dark: #{$secondary-color-dark};
  --secondary-color-light: #{$secondary-color-light};
  --text-color: #{$text-color};
  --text-color-dark: #{$text-color-dark};
  --text-color-light: #{$text-color-light};

  --btn-bg: #{$btn-bg};
  --input-bg: #{$input-bg};

  --border-color: #{$border-color};
  --border-color-light: #{$border-color-light};
  --shadow-color: #{$shadow-color};

  --bottomnav-bg: #{$secondary-color-light};
  --bottomnav-fg: #{$secondary-color-dark};
  --bottomnav-border-color: #{$secondary-color-dark};
  --bottomnav-height: 3rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --bg-dark: #dddddd;
    --fg: #000000;
    --link-color: #1e70bf;

    --primary-color: #{$primary-color};
    --primary-color-dark: #{$primary-color-dark};
    --primary-color-light: #{$primary-color-light};

    --input-bg: #{hsla($cyan_degree, $cyan_saturation, $cyan_lightness, 0.15)};
    --btn-bg: #{$btn-bg};

    --border-color: #{$border-color};
    --border-color-light: #{$border-color-light};
    --shadow-color: #{$btn-bg};
  }
}
